body {
    position: relative;
    font-family: 'Asap', sans-serif;
    overflow-x: hidden;
}
.navbar-bg-color {
    background-color: rgba(255,255,255, 0.8);
}
.home {
    background-image: url('../../assets/img/bg.jpg');
    object-fit: cover;
    background-position: center;
}
.section {
    padding-top:60px;
    padding-bottom:40px;
    height: 100vh;
    transition: 1s;
    transition-duration: 1s;
}
.no-border {
    border: none;
}
.nav-width-15vw {
    width: 15vw !important;
}
.nav-item-edit {
    color: #37363E;
    text-align: center;
}
.nav-link {
    color: #37363E;
    font-weight: 600;
    width: 175px;
    text-align: center;
}
.nav-download {
    padding-left: 20px;
}
.icon-edit {
    color:#FE5431;
    font-size: 22px;
}
.link-store {
    margin-left: 10px;
    text-decoration: none;
}
.mr-5vw {
    margin-right: 5vw !important;
}
.row-logo-pip {
    padding-top: 12vh;
}
.padding-tb {
    padding-top: 30px;
    padding-bottom: 20px;
}
.text {
    color: #37363E;
}
.text-sub {
    font-size: 22px;
    color: #37363E;
}
.input-col {
    background-color: white;
    margin-left: 15px;
    height: 60px;
    border-radius: 15px;
    padding-top: 8px;
}

.input-email {
    height: 60px;
    width: 50%;
    min-width: 150px;
    border: none;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    float: left;
}

.input-email:focus{
    outline: none;
}

.btn {
    border: none;
    padding: 15px 20px; 
    border-radius: 15px;
}

.btn-primary {
    background-color: #1EA82C;
    color: white;
}

.btn-group {
    margin-left: -4px;
    height: 60px;
    float: left;
    border-radius: 0px 15px 15px 0px;
}

font {
    padding-top: 7px;
}

.about {
    background-image: url('../../assets/img/food-back.png');
    background-position: center;
    background-repeat: no-repeat;
}

.padding-9 {
    padding: 9px;
}

.no-padding {
    padding: 0px;
}

.mt-40 {
    margin-top: 40px;
}

.nav-item-about {
    text-align: center;
    width: 10vw;
    font-size: 1.3rem;
    color: #37363E;
    cursor: pointer;
    opacity: 0.7;
    font-weight: 400;
}

.tab-link {
    color: #dedede;
    font-weight: 400;
}

.nav-item-about-selected { 
    text-align: center;
    width: 10vw;
    font-size: 1.3rem;
    color: #37363E;
    cursor: pointer;
    border-bottom: 3px solid red;
    padding-bottom: 10px;
}

.pip-about {
    font-size: 3rem;
    color: #FE5431;
    font-weight: 400;
}

.mt-30vh {
    margin-top: 25vh;
}

.row-pip-about {
    padding-top: 50px;
}

.clients {
    height: 300px;
    padding-top: 30px;
    padding-bottom: 20px;
    background: #fbfbfb;
}

.clients-title {
    color: #37363E;
    font-size: 2rem;
}

.clients-subtitle {
    color: #37363E;
}

.img-mockup {
    height: 60vh;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}
.item {
    text-align: center;
}

.services {
    background-position: bottom;
    background-image: url('../../assets/img/bolinhos.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.services-subtitle {
    color: #37363E;
    opacity: 0.7;
}

.services-exp {
    height: 150px;

}
.title-services-table {
    color: #37363E;
    font-size: 22px;
    font-weight: 400;
}

.msg-service-table {
    color: rgba(55, 54, 62, 0.7);
    font-size: 16px;
}

.icon-edit-services {
    color: #FE5431;
    font-size: 27px;
}

.mt-50 {
    margin-top: 50px;
}

.input-email-subscription {
    width: 60%;
    border: none;
    padding: 15px 20px;
    float: left;
    border-radius: 15px;
}

.input-email-subscription:focus{
    outline: none;
}

.icon-edit-subscription {
    color: #FE5431;
    font-size: 27px;
}

.subscription-text  {
    font-size: 1.2rem;
}

.prices {
    background-color:#FBFBFB;
}

#prices {
    height: 100vh !important;
}

.pip-price {
    font-size: 3rem;
    color: #FE5431;
    font-weight: 400;
}

.subtext-price {
    color: #37363E;
    opacity: 0.7;
    font-size: 1.1rem;
}

.free-subscription {
    padding-bottom: 40px;
}

th {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    line-height: 32px;
    padding-right: 0px;
    padding-left: 0px;
}

th font {
    font-size: 1.8rem;
    display: block;
}

.row-title {
    text-align: right;
}

td {
    text-align: center;
}

.edited-icons {
    font-size: 2rem;
    color: #FE5431;
    margin-right: 15px;
}

.link-footer {
    cursor: pointer;
    color: white; 
    font-size: 0.9rem;
}

.icon-check-table {
    color: #1EA82C;
    font-size: 27px;
}

.icon-star-other {
    color: #067BC2;
    font-size: 18px;
}

.strip {
    background: #067BC2;
    width: 100% !important;
    padding: 10px;
    color: #fff;
    margin-top: 10px;
    display: block;
}

.icon-star-table {
    color: #067BC2;
    font-size: 27px;
}

.table-container {
    border-radius: 10px;
    background: #fff;
}

table, th, tr, td, thead, tbody {
    border: none !important;
}

.other-info {
    padding-top: 20px;
    padding-bottom: 20px;
}

.other-info a {
    text-decoration: underline;
    color: #067BC2;
}

.footer {
    background-color: #37363e;
    color: #fff;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.text-footer {
    font-size: 1rem;
    color: white;
    font-family: 'Asap'
}
.take-coffee {
    font-weight: 600;
}
.copyright { 
    font-size: 0.8rem;
}
.slogan-footer {
    font-size: 0.9rem;
    margin-left: 10px;
}
.logo-footer {
    width: 75px;
    height: 75px;
}

.contact-info {
    font-size: 15px;
    font-weight: 400;
}

.pt-25 {
    padding-top: 25px;
}

.btn-secondary {
    background-color: #fe5431;
    color: #fff;
    margin-left: 10px !important;
}

.bordered-input {
    width: 73%;
    border: 1px solid #d0d0d0;
}

.form-group-contained { 
    width: 700px;
    margin: 0 auto;
}

.go-top {
    color: #37363E !important;
    cursor: pointer;
}
.hidden-pipe {
    display: block;
}
.newsletter {
    display: block;
}

@media screen and (max-width: 820px) {
    .newsletter {
        display: none;
    }
}

@media screen and (max-height: 840px) {
    .services {
        background-image: none !important;
    }
    #prices {
        height: 145vh !important;
    }
}

@media screen and (max-width: 991px) {
    .img-mockup {
        display: none;
    }
    .title-services-table {
        font-size: 1rem;
    }
    .hidden-pipe {
        display: none;
    }
}

@media screen and (max-width: 1185px) {
    .msg-service-table {
        font-size: 0.8rem;
    }
}