<nav class="navbar navbar-expand-sm fixed-top navbar-bg-color">
	<a href="/desktop#home"> <img src="../../assets/img/logo_horizontal.png"> </a>
	<ul class="navbar-nav mr-auto"></ul>
	<ul class="navbar-nav mr-5vw">
		<li class="nav-item nav-item-edit">
			<a class="nav-link" href="/desktop#about">SOBRE</a>
		</li>
		<font>|</font>
		<li class="nav-item nav-item-edit">
			<a class="nav-link" href="/desktop#services">SERVIÇOS</a>
		</li>
		<font>|</font>
		<li class="nav-item nav-item-edit">
			<a class="nav-link" href="/desktop#prices">PREÇOS</a>
		</li>
		<font>|</font>
		<li class="nav-item nav-item-edit" (click)="openDialog()">
			<a class="nav-link" style="cursor: pointer;">FALE CONOSCO</a>
		</li>
		<font>|</font>
		<li class="nav-item nav-item-edit nav-download">
			<span class="nav-link"> Baixe agora
				<a class="link-store" href="https://itunes.apple.com/us/app/pip-recipes/id1117123001?mt=8" target="_blank">
					<i class="fab fa-apple icon-edit"></i>
				</a>
				<a class="link-store" href="https://play.google.com/store/apps/details?id=com.ionicframework.pipmobile659009&referrer=utm_source%3Dpipwebsite"
				 target="_blank">
					<i class="fab fa-android icon-edit"></i>
				</a>
			</span>
		</li>
	</ul>
</nav>

<div id="home" class="container-fluid section home">
	<div class="row padding">
		<div class="offset-lg-2 offset-xl-3 col-lg-8 col-xl-6">

			<div class="row row-logo-pip">
				<div class="col-xl-12">
					<img src="../assets/img/logo-about.png">
				</div>
			</div>

			<div class="row padding-tb">
				<div class="col-xl-12">
					<h1>
						<span class="text">A rede social dos apaixonados por gastronomia, agora com serviço especial para empresas.</span>
					</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-xl-12">
					<span class="text-sub">Fale com milhares de usuários prontos para conhecer sua marca, seus produtos e suas receitas.</span>
				</div>
			</div>

			<div class="row padding-tb">
				<div class="col-lg-10 col-xl-12">
					<div class="form-group">
						<input class="form-control input-email" placeholder="Digite seu e-mail" [(ngModel)]="titleEmail">
						<button class="btn btn-primary btn-group" (click)="sendEmail()">Saber mais</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="about" class="container-fluid section about">
	<div class="row padding">
		<div class="offset-lg-2 offset-xl-2 col-lg-10 col-xl-10">
			<div class="row row-pip-about">
				<div class="col-lg-6 col-xl-6">
					<div class="row">
						<span class="pip-about"> Conheça o Pip </span>
					</div>

					<div class="row padding-tb">
						<div class="col-12 no-padding">
							<nav class="navbar navbar-expand-sm no-padding">
								<ul class="navbar-nav">
									<li id="timeline" class="nav-item-about" (click)="changeNavOp('timeline')">
										<a class="tab-link">Timeline</a>
									</li>
									<li id="recipes" class="nav-item-about" (click)="changeNavOp('recipes')">
										<a class="tab-link">Receitas</a>
									</li>
									<li id="book" class="nav-item-about" (click)="changeNavOp('book')">
										<a class="tab-link">Caderno</a>
									</li>
									<li id="collections" class="nav-item-about" (click)="changeNavOp('collections')">
										<a class="tab-link">Coleções</a>
									</li>
								</ul>
							</nav>
						</div>

						<div class="col-12 mt-40">
							<div class="row" *ngIf="timeline">
								<p> Navegue por receitas deliciosas, siga seus perfis favoritos e interaja com os usuários!</p>
							</div>
							<div class="row" *ngIf="recipe">
								<p> Siga seus perfis favoritos e interaja com os usuários! É aqui que você consegue se destacar. </p>
							</div>
							<div class="row" *ngIf="book">
								<p> Navegue por receitas deliciosas, É aqui que você consegue se destacar. </p>
							</div>
							<div class="row" *ngIf="colection">
								<p> Navegue por receitas deliciosas, siga seus perfis favoritos e interaja com os usuários! </p>
							</div>
						</div>
					</div>

					<div class="row mt-30vh">
						<div class="col-12">
							<div class="row">
								<p> Baixe agora: </p>
							</div>
						</div>
						<div class="col-12 no-padding">
							<a class="link-store" href="https://itunes.apple.com/us/app/pip-recipes/id1117123001?mt=8" target="_blank">
								<img src="../assets/img/Badge-Apple.png">
							</a>
							<a class="link-store" href="https://play.google.com/store/apps/details?id=com.ionicframework.pipmobile659009&referrer=utm_source%3Dpipwebsite"
							target="_blank">
								<img src="../assets/img/google-play.png">
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-xl-4">
					<img class="img-mockup" src="../assets/img/mockup.png">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row clients">
	<div class="col-lg-12 col-xl-12 text-center">
		<p class="clients-title">Nossos clientes</p>
		<p class="clients-subtitle">Conheça algumas marcas que confiaram em nós para suas campanhas.</p>
	</div>
	<div class="offset-lg-3 offset-xl-4 col-lg-6 col-xl-4">
		<div class="ngxcarousel-items" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); transition: transform 600ms cubic-bezier(0, 0, 0.2, 1);">
			<ngx-carousel [inputs]="carouselOne">
				<ngx-item NgxCarouselItem>
					<img src="../assets/img/carrefour.png">
				</ngx-item>
				<ngx-item NgxCarouselItem>
					<img src="../assets/img/electrolux.png">
				</ngx-item>
				<ngx-item NgxCarouselItem>
					<img src="../assets/img/arno.png">
				</ngx-item>
				<ngx-item NgxCarouselItem>
					<img src="../assets/img/guarana.png">
				</ngx-item>
				<ngx-item NgxCarouselItem>
					<img src="../assets/img/panco.png">
				</ngx-item>

				<button NgxCarouselPrev class='leftRs'>&lt;</button>
				<button NgxCarouselNext class='rightRs'>&gt;</button>
			</ngx-carousel>
		</div>
	</div>
</div>

<div id="services" class="container-fluid section services">
	<div class="row">
		<div class="col-12 text-center">
			<p class="pip-about">Nossos serviços</p>
			<p class="services-subtitle">Oferecemos o jeito mais fácil e barato de se comunicar com o consumidor.</p>
		</div>
		<div class="offset-xl-1 col-xl-10 offset-lg-1 col-lg-10 mt-50">
			<div class="row">
				<div class="col-4 services-exp">
					<div class="row">
						<div class="col-2 text-right">
							<i class="fas fa-chart-bar icon-edit-services"></i>
						</div>
						<div class="col-10 title-services-table">
							PAINEL DE ESTATÍSTICAS
						</div>
						<div class="offset-2 col-8">
							<p class="msg-service-table"> Acompanhe o crescimento do seu perfil: acessos, comentários, curtidas, receitas salvas e mais. </p>
						</div>
					</div>
				</div>
				<div class="col-4 services-exp">
					<div class="row">
						<div class="col-2 text-right">
							<i class="fas fa-calendar-alt icon-edit-services"></i>
						</div>
						<div class="col-10 title-services-table">
							RESUMO SEMANAL
						</div>
						<div class="offset-2 col-8">
							<p class="msg-service-table"> Receba no seu email um resumo das estatísticas do seu perfil. </p>
						</div>
					</div>
				</div>
				<div class="col-4 services-exp">
					<div class="row">
						<div class="col-2 text-right">
							<i class="fas fa-star icon-edit-services"></i>
						</div>
						<div class="col-10 title-services-table">
							DESTAQUE NA TIMELINE
						</div>
						<div class="offset-2 col-8">
							<p class="msg-service-table"> Suas receitas bem posicionadas na timeline do usuário. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4 services-exp">
					<div class="row">
						<div class="col-2 text-right">
							<i class="fas fa-eye icon-edit-services"></i>
						</div>
						<div class="col-10 title-services-table">
							EXPOSIÇÃO GARANTIDA
						</div>
						<div class="offset-2 col-8">
							<p class="msg-service-table"> Garantimos visibilidade para sua marca e seus produtos. </p>
						</div>
					</div>
				</div>
				<div class="col-4 services-exp">
					<div class="row">
						<div class="col-2 text-right">
							<i class="fas fa-pencil-alt icon-edit-services"></i>
						</div>
						<div class="col-10 title-services-table">
							RECEITA PERSONALIZÁVEL
						</div>
						<div class="offset-2 col-8">
							<p class="msg-service-table"> Coloque banners personalizados nas suas receitas. </p>
						</div>
					</div>
				</div>
				<div class="col-4 services-exp">
					<div class="row">
						<div class="col-2 text-right">
							<i class="fas fa-edit icon-edit-services"></i>
						</div>
						<div class="col-10 title-services-table">
							POSTAGEM DE RECEITAS
						</div>
						<div class="offset-2 col-8">
							<p class="msg-service-table"> Economize tempo, postamos as receitas para você. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-4 services-exp">
					<div class="row">
						<div class="col-2 text-right">
							<i class="far fa-user icon-edit-services"></i>
						</div>
						<div class="col-10 title-services-table">
							GESTÃO DE PERFIL
						</div>
						<div class="offset-2 col-8">
							<p class="msg-service-table"> Cuidamos do seu perfil Pip para garantir a interação com os consumidores. </p>
						</div>
					</div>
				</div>
				<div class="col-4 services-exp">
					<div class="row">
						<div class="col-2 text-right">
							<i class="fas fa-compass icon-edit-services"></i>
						</div>
						<div class="col-10 title-services-table">
							GEOFENCING
						</div>
						<div class="offset-2 col-8">
							<p class="msg-service-table"> Enviamos notificações push assim que o usuário entrar no supermercado. </p>
						</div>
					</div>
				</div>
				<div class="col-4 services-exp">
					<div class="row">
						<div class="col-2 text-right">
							<i class="fas fa-cogs icon-edit-services"></i>
						</div>
						<div class="col-10 title-services-table">
							SUPORTE GRATUITO
						</div>
						<div class="offset-2 col-8">
							<p class="msg-service-table"> Sanamos suas dúvidas e dificuldades sempre que precisar. Sem gastar mais por isso. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row free-subscription">
	<div class="offset-lg-1 offset-xl-1 col-lg-10 col-xl-10">
		<div class="row">
			<div class="col-12 text-center">
				<div class="form-group-contained">
					<input class="form-control bordered-input input-email" placeholder="Digite seu e-mail" [(ngModel)]="titleEmail">
					<button class="btn btn-primary btn-group" (click)="sendEmail()">Saber mais</button>
				</div>
			</div>
		</div>
		<div class="row mt-40">
			<div class="col-lg-12 col-xl-12 text-center">
				<p class="clients-title">Benefícios de usar o Pip for Business:</p>
			</div>
		</div>
		<div class="row">
			<div class="offset-2 col-2 text-right">
				<i class="fas fa-check icon-edit-subscription"></i>
			</div>
			<div class="col-6 text-left">
				<p class="subscription-text"> Utilize o conteúdo que você já possui. </p>
			</div>
		</div>
		<div class="row">
			<div class="offset-2 col-2 text-right">
				<i class="fas fa-check icon-edit-subscription"></i>
			</div>
			<div class="col-6 text-left">
				<p class="subscription-text"> Aumente a visibilidade da sua marca sem esforço. </p>
			</div>
		</div>
		<div class="row">
			<div class="offset-2 col-2 text-right">
				<i class="fas fa-check icon-edit-subscription"></i>
			</div>
			<div class="col-6 text-left">
				<p class="subscription-text"> Comunique-se diretamente com o consumidor final, sem ruído ou distrações. </p>
			</div>
		</div>
		<div class="row">
			<div class="offset-2 col-2 text-right">
				<i class="fas fa-check icon-edit-subscription"></i>
			</div>
			<div class="col-6 text-left">
				<p class="subscription-text"> Faça parte do dia-a-dia do consumidor.</p>
			</div>
		</div>
		<div class="row">
			<div class="offset-2 col-2 text-right">
				<i class="fas fa-check icon-edit-subscription"></i>
			</div>
			<div class="col-6 text-left">
				<p class="subscription-text"> Melhor preço e maior praticidade para atingir o público certo. </p>
			</div>
		</div>
	</div>
</div>

<div id="prices" class="container-fluid prices section">
	<div class="offset-lg-1 offset-xl-1 col-lg-10 col-xl-10">
		<div class="row">
			<div class="col-12 text-center">
				<span class="pip-price">Conheça nossos planos</span>
			</div>
		</div>

		<div class="row">
			<div class="col-12 text-center">
				<span class="subtext-price"> Comece a investir na visibilidade da sua marca agora mesmo.</span>
			</div>
		</div>

		<div class="row mt-50">
			<div class="offset-xl-2 col-xl-8 col-lg-10 offset-lg-1 col-md-12 text-center table-container">
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>
								Plano
								<font>Basic</font>
								<span class="strip">R$629/mês</span>
							</th>
							<th>
								Plano
								<font>Standard</font>
								<span class="strip">R$749/mês</span>
							</th>
							<th>
								Plano
								<font>Premium</font>
								<span class="strip">R$1.969/mês</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="row-title" scope="row">Painel de Estatísticas</th>
							<td>
								<i class="fas fa-check icon-check-table"></i>
							</td>
							<td>
								<i class="fas fa-check icon-check-table"></i>
							</td>
							<td>
								<i class="fas fa-check icon-check-table"></i>
							</td>
						</tr>
						<tr>
							<th class="row-title" scope="row">Resumo Semanal por Email</th>
							<td>1 usuário</td>
							<td>Usuários ilimitados</td>
							<td>Usuários ilimitados</td>
						</tr>
						<tr>
							<th class="row-title" scope="row">Destaque na timeline</th>
							<td>
								<i class="fas fa-check icon-check-table"></i>
							</td>
							<td>
								<i class="fas fa-check icon-check-table"></i>
							</td>
							<td>
								<i class="fas fa-check icon-check-table"></i>
							</td>
						</tr>
						<tr>
							<th class="row-title" scope="row">Exposição garantida</th>
							<td>
								<i class="fas fa-check icon-check-table"></i>
							</td>
							<td>
								<i class="fas fa-check icon-check-table"></i>
							</td>
							<td>
								<i class="fas fa-check icon-check-table"></i>
							</td>
						</tr>
						<tr>
							<th class="row-title" scope="row">Receita personalizável</th>
							<td></td>
							<td>
								<i class="fas fa-check icon-check-table"></i>
							</td>
							<td>
								<i class="fas fa-check icon-check-table"></i>
							</td>
						</tr>
						<tr>
							<th class="row-title" scope="row">Postagem de receitas</th>
							<td>
								<i class="fas fa-star icon-star-table"></i>
							</td>
							<td>
								<i class="fas fa-star icon-star-table"></i>
							</td>
							<td>
								<i class="fas fa-star icon-star-table"></i>
							</td>
						</tr>
						<tr>
							<th class="row-title" scope="row">Gestão de perfil</th>
							<td>
								<i class="fas fa-star icon-star-table"></i>
							</td>
							<td>
								<i class="fas fa-star icon-star-table"></i>
							</td>
							<td>
								<i class="fas fa-star icon-star-table"></i>
							</td>
						</tr>
						<tr>
							<th class="row-title" scope="row">Push por Geofencing</th>
							<td></td>
							<td></td>
							<td>
								<i class="fas fa-check icon-check-table"></i>
							</td>
						</tr>
						<tr>
							<th class="row-title" scope="row"></th>
							<td>
								<button class="btn btn-primary btn-block" (click)="openSignature()">Assinar</button>
							</td>
							<td>
								<button class="btn btn-primary btn-block" (click)="openSignature()">Assinar</button>
							</td>
							<td>
								<button class="btn btn-primary btn-block" (click)="openSignature()">Assinar</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-12 text-center other-info">
				<span>
					<i class="fas fa-star icon-star-other"></i>&nbsp;
					<strong>Personalize seu plano!&nbsp;</strong>
					<a style="cursor: pointer" (click)="openDialog()">Entre em contato</a> para adquirir estes serviços.</span>
			</div>
		</div>
	</div>
</div>

<div class="row" style="padding: 30px;">
	<div class="col-12 text-center">
		<a href="/desktop#home" class="go-top">
			<p> VOLTAR AO TOPO
				<i class="fas fa-angle-up"></i>
			</p>
		</a>
	</div>
</div>



<div class="row footer"> 
	<div class="offset-1 col-10">
		<div class="row">

			<div class="col-6">
				<img src="assets/img/logo1.png" class="logo-footer">
				<span class="slogan-footer">Rede social de receitas</span>
				<br>
				<br>
				<span class="text-footer take-coffee">Vamos tomar um café?</span>
				<br>
				<br>
				<span class="text-footer">+55 (11) 4063-5599</span>
				<br> 
				<span class="text-footer">contato@piprecipes.com</span>
				<br>
				<span class="text-footer">Curitiba - PR</span>
				<br>
				<br>
				<span class="text-footer copyright">© 2018 Pip for Business</span>
			</div>

			<div class="col-6">
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 text-center">
						<a class="link-footer" href="/desktop#about">SOBRE</a>
					</div>|
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
						<a class="link-footer" href="/desktop#services">SERVIÇOS</a>
					</div>|
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 text-center">
						<a class="link-footer" href="/desktop#prices">PREÇOS</a>
					</div>|
					<div class="col-md-7 col-lg-4 text-md-left text-lg-center">
						<span style="font-size: 0.9rem;">
							Baixe agora:
							<a class="link-store-footer" href="https://itunes.apple.com/us/app/pip-recipes/id1117123001?mt=8" target="_blank"><i class="fab fa-apple icon-edit"></i></a>
							<a class="link-store-footer" href="https://play.google.com/store/apps/details?id=com.ionicframework.pipmobile659009&referrer=utm_source%3Dpipwebsite"
								target="_blank"><i class="fab fa-android icon-edit"></i></a>
						</span>
					</div> 
				</div>
				<br>
				<br>

				<div class="row newsletter">
					<div class="col-12">
						<span>Não perca nenhuma novidade! Inscreva-se na nossa newsletter:</span>
						<br>
						<br>
						<input class="input-email-subscription form-control" placeholder="Insira seu e-mail" [(ngModel)]="titleEmail">
						<button class="btn btn-secondary" (click)="sendEmail()">Saber mais</button>
					</div>
				</div>
				<br>
				<br>
				<div class="row">
					<div class="col-12">
						<a class="link-footer" hre="https://www.facebook.com/piprecipes/" target="_blank">
							<i class="fab fa-facebook-square edited-icons"></i>
						</a>
						<a class="link-footer" hre="https://twitter.com/piprecipes" target="_blank">
							<i class="fab fa-twitter-square edited-icons"></i>
						</a>
						<a class="link-footer" hre="https://www.instagram.com/piprecipes/" target="_blank">
							<i class="fab fa-instagram edited-icons"></i>
						</a>
						<a class="link-footer" hre="" target="_blank">
							<i class="fab fa-linkedin-in edited-icons"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>