<div class="row outside-click" (click)="closeDialoag()"></div>
<div class="row modal-background"  style="z-index: 1;">
	<div stop-propagation class="col-12 text-center main">
		<div class="row">
			<div class="col-12 text-right edit-icon" (click)="closeDialoag()">
				<i class="fas fa-times" style="cursor: pointer;"></i>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h1 class="h1-edit"> Entre em contato</h1>
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<div class="offset-1 col-10 text-left">
					<div class="row">
						<div class="col-12">
							<div class="row">
								<div class="col-6">
									<label class="mt-pl-20 title-fields"> Nome </label>
									<input class="form-control form-edit" id="name" placeholder="Nome Completo" [(ngModel)]="contact.name">
								</div>
								<div class="col-6">
									<label class="mt-pl-20 title-fields"> Assunto </label>
									<input class="form-control form-edit" placeholder="Ex: Orçamento" id="subject" [(ngModel)]="contact.subject">
								</div>
							</div>
						</div>

						<div class="col-6">
							<div class="row">
								<div class="col-12">
									<label class="mt-pl-20 title-fields"> E-mail </label>
									<input class="form-control form-edit" placeholder="Ex: nome@empresa.com.br" id="email" [(ngModel)]="contact.email">
								</div>
								<div class="col-12">
									<label class="mt-pl-20 title-fields"> Telefone </label>
									<input class="form-control form-edit" placeholder="Ex: 11 3030-4040" [(ngModel)]="contact.phone">
								</div>
							</div>
						</div>

						<div class="col-6">
							<div class="row">
								<div class="col-12" style="padding-top: 53px;">
									<textarea class="form-control text-area" id="msg" placeholder="Digite sua mensagem" [(ngModel)]="contact.text"> </textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 mt-mb-20">
				<button class="btn btn-success btn-send" (click)="sendEmail()">
					Enviar
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<span>
					<b> Se deseja outras maneira de falar conosco:</b> +55 (11) 4063-5599 ou contato@piprecipes.com
				</span>
				<br>
				<span> Atendemos de segunda à sexta, das 9h às 18h, exceto feriados. </span>
			</div>
		</div>
	</div>
</div>