<div class="row outside-click" (click)="closeDialoag()"></div>
<div class="row modal-background"  style="z-index: 1;">
	<div stop-propagation class="col-12 text-center main">
		<div class="row">
			<div class="col-12 text-right edit-icon" (click)="closeDialoag()">
				<i class="fas fa-times" style="cursor: pointer;"></i>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h1 class="h1-edit"> Assinar Pip for Business </h1>
				<p>Preencha as informações e vamos entrar em contato para finalizar sua assinatura.</p>
			</div>
		</div>

		<div class="row">
			<div class="form-group form-group-edited">
				<div class="col-12 text-left">
					<div class="row">
						<div class="col-12">
							<div class="row">
								<div class="col-6">
									<label class="mt-pl-20 title-fields"> Nome </label>
									<input class="form-control form-edit" id="name" placeholder="Nome Completo" [(ngModel)]="subscription.name">
								</div>
								<div class="col-6">
									<label class="mt-pl-20 title-fields"> Empresa </label>
									<input class="form-control form-edit" id="company" placeholder="Nome Empresa" [(ngModel)]="subscription.company">
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="row">
								<div class="col-6">
									<label class="mt-pl-20 title-fields"> E-mail </label>
									<input class="form-control form-edit" id="email" placeholder="Ex: nome@empresa.com.br" [(ngModel)]="subscription.email">
								</div>
								<div class="col-6">
									<label class="mt-pl-20 title-fields"> Telefone </label>
									<input class="form-control form-edit" id="phone" placeholder="Ex: 11 3030-4040" [(ngModel)]="subscription.phone">
								</div>
							</div>
						</div>

						<div class="col-12">
							<label class="mt-pl-20 title-fields"> Plano </label>
							<select class="form-control form-edit" id="plan" [(ngModel)]="subscription.plan">
								<option value="0">Selecione um plano</option>
								<option value="B">Plano Basic (R$629,00 ao mês)</option>
								<option value="S">Plano Standard (R$749,00 ao mês)</option>
								<option value="P">Plano Premium (R$1.969,00 ao mês)</option>
							</select>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 mt-mb-20">
				<button class="btn btn-success btn-send" (click)="sendEmail()">
					Confirmar
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<span>
					<b> Se deseja outras maneira de falar conosco:</b> +55 (11) 4063-5599 ou contato@piprecipes.com
				</span>
				<br>
				<span> Atendemos de segunda à sexta, das 9h às 18h, exceto feriados. </span>
			</div>
		</div>
	</div>
</div>