*{
    font-family: 'Asap';
}
.modal-background { 
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    padding-left: 25vw;
    padding-right: 25vw;
}
.main {
    background-color: #FBFBFB;   
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.h1-edit {
    color: #FE5431;
}
.text-area {
    max-height: 140px;
    min-height: 140px;
    border-radius: 20px;
}
.btn-send {
    width: 30%;
}
.mt-mb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mt-pl-20 {
    margin-top: 20px;
    padding-left: 20px;
}
.form-edit {
    border: 1px solid #dedede;
    border-radius: 20px;
    height: 45px;
    font-size: 0.9rem;
}
.title-fields {
    color: rgba(55, 54, 62, 0.7);
}
.outside-click {
    width: 100vw; 
    height: 100vh; 
    z-index: 0; 
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute;
}
.edit-icon {
    margin-top: -42px;
}   
.form-group-edited {
    width: 80%;
    margin-left: 10%;
}
@media screen and (max-width: 1345px) {
    .modal-background { 
        padding-left: 10vw;
        padding-right: 10vw;
    }
}