/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Asap:400,600');

body {
    font-family: 'Asap', sans-serif;
    overflow-x: hidden;
}